<div class="queues">
  <div class="card">
    <div class="queue">
      <p class="h1">Грошові вклади</p>
      <p class="h2">з врахуванням різних валют</p>
      <p class="text">Всі необхідні документи для цієї операції ви можете переглянути за посиланням.</p>
      <button class="noneBtn"><img class="noneBtn" src="../../../assets/imgs/rightArrow.svg" (click)="routeToQueue('currencyDeposits')"></button>
      <p class="lable">Перейти до черги</p>
    </div>
    <hr>
    <div class="queue">
      <p class="h1">Кредити</p>
      <p class="text">Всі необхідні документи для цієї операції ви можете переглянути за посиланням.</p>
      <button class="noneBtn"><img class="noneBtn" src="../../../assets/imgs/rightArrow.svg" (click)="routeToQueue('credit')"></button>
      <p class="lable">Перейти до черги</p>
    </div>
    <hr>
    <div class="queue">
      <p class="h1">Банківські/кредитні картки</p>
      <p class="text">Всі необхідні документи для цієї операції ви можете переглянути за посиланням.</p>
      <button class="noneBtn"><img class="noneBtn" src="../../../assets/imgs/rightArrow.svg" (click)="routeToQueue('bankCards')"></button>
      <p class="lable">Перейти до черги</p>
    </div>
    <hr>
    <div class="queue">
      <p class="h1">Іпотека</p>
      <p class="text">Всі необхідні документи для цієї операції ви можете переглянути за посиланням.</p>
      <button class="noneBtn"><img class="noneBtn" src="../../../assets/imgs/rightArrow.svg" (click)="routeToQueue('mortgage')"></button>
      <p class="lable">Перейти до черги</p>
    </div>
    <hr>
    <div class="queue">
      <p class="h1">Індивідуальні сейфи</p>
      <p class="text">Всі необхідні документи для цієї операції ви можете переглянути за посиланням.</p>
      <button class="noneBtn"><img class="noneBtn" src="../../../assets/imgs/rightArrow.svg" (click)="routeToQueue('safeBox')"></button>
      <p class="lable">Перейти до черги</p>
    </div>
    <hr>
    <div class="queue">
      <p class="h1">Платежі</p>
      <p class="text">Всі необхідні документи для цієї операції ви можете переглянути за посиланням.</p>
      <button class="noneBtn"><img class="noneBtn" src="../../../assets/imgs/rightArrow.svg" (click)="routeToQueue('payments')"></button>
      <p class="lable">Перейти до черги</p>
    </div>
    <hr>
    <div class="queue">
      <p class="h1">Прийом та видача</p>
      <p class="h2">готівки/пенсія</p>
      <p class="text">Всі необхідні документи для цієї операції ви можете переглянути за посиланням.</p>
      <button class="noneBtn"><img class="noneBtn" src="../../../assets/imgs/rightArrow.svg" (click)="routeToQueue('cash')"></button>
      <p class="lable">Перейти до черги</p>
    </div>
    <hr>
    <div class="queue">
      <p class="h1">Грошові перекази</p>
      <p class="text">Всі необхідні документи для цієї операції ви можете переглянути за посиланням.</p>
      <button class="noneBtn"><img class="noneBtn" src="../../../assets/imgs/rightArrow.svg" (click)="routeToQueue('moneyTransfers')"></button>
      <p class="lable">Перейти до черги</p>
    </div>
    <hr>
    <div class="queue last">
      <p class="h1">Валютно-обмінні операції</p>
      <p class="text">Всі необхідні документи для цієї операції ви можете переглянути за посиланням.</p>
      <button class="noneBtn"><img class="noneBtn" src="../../../assets/imgs/rightArrow.svg" (click)="routeToQueue('valuta')"></button>
      <p class="lable">Перейти до черги</p>
    </div>
  </div>
</div>
