.applicationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
}

.component{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  max-width: 1000px;
  height: 40vh;
  max-height: 60vh;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  color: white;
  font-size: 20px;
  font-family: Bahnschrift;
  background-color:  rgb(232, 93, 86);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.position {
  position: absolute;
  justify-content: center;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(40vh - 60px);
  background: white;
}

button {
  background-color: rgb(232, 93, 86);
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 5px;
  font-size: 16px;
  font-family: Bahnschrift;
  color: white;
  width: auto;
  height: 30px;
}

button:active {
  background-color: rgb(216, 99, 93);
  color: white;
}

input[type="text"]:focus + label,
input[type="text"]:valid + label {
  top: -10px;
  font-size: 12px;
  color: black;
}

.form {
  display: block;
  width: calc(30% + 5vh);
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  margin: calc(1.5vh - 0.5vw);
}

input {
  height: auto !important;
}
