<div class="applicationForm">
  <div class="component">
    <div class="nav">
      <p>Увійдіть</p>
    </div>

    <div class="position">
      <input type="text" class="search-field form" placeholder="Введіть email ..." [(ngModel)]="email" autocomplete="off" id="email">
      <input type="password" class="search-field form" placeholder="Введіть пароль ..." [(ngModel)]="password" autocomplete="off" id="password">
      <button (click)="signIn()">Підтвердити</button>
    </div>

  </div>

</div>
